@{
    Layout = "~/Views/Shared/_LoaningLayout.cshtml";
}

<style>

    .banner {
        margin-top: -75px;
        position: relative;
        padding: 50px 20px;
        text-align: center;
    }

    .banner-image {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .slider-value {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .label {
        font-weight: bold;
        color: grey;
    }

    input[type=range]::-webkit-slider-thumb {
        background-color: #0468bb;
    }

    .card {
        background-color: white;
        border-radius: 30px;
        padding: 20px;
        z-index: 1;
    }

    .step-img {
        max-width: 100% !important;
        height: 300px !important;
    }

    .big-img {
        max-width: 100% !important;
        height: 750px !important;
    }

    p {
        font-size: 25px;
    }

    #requirements, #about {
        background-color: #EEF3F8;
    }

    .carousel {
        height: 750px;
        margin-top: -250px;
    }

    .cropped-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        border-radius: 8px;
    }
</style>

<div class="navbar-fixed">
    <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
            <a href="#home" class="brand-logo center">
                <img class="responsive-img logo" src="~/Content/TextLogo.png">
            </a>
            <ul class="left hide-on-med-and-down" style="font-weight:bold;">
                <li><a href="#about" class="primary-color">About us</a></li>
                <li><a href="#testimonials" class="primary-color">Testimonials</a></li>
                <li><a href="#requirements" class="primary-color">Requirements</a></li>
                <li>
                    <a href="#home" class="waves-effect waves-light btn-large action-button">Get a loan</a>
                </li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href ="/Home/LoginPage" class="primary-color" style="font-weight:bold;">Log in</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="section banner" id="home">
    <img src="~/Content/Banner.png" class="banner-image" alt="Banner Image" />
    <h1 class="primary-color center" style="font-family:Campton Black;">Fast Cash, No Hassle – Get Approved in Minutes</h1>

    <div class="row" style="margin-top: 50px">
        <div class="col s6 m6 l6"></div>
        <div class="col s5 m5 l5">
            <div class="card z-depth-5 hidden">
                <div class="card-content">
                    <div class="row">
                        <form class="col s12 m12 l12">
                            <div class="row">
                                <div class="col s12 m12 l12 center">
                                    <h3 class="primary-color" style="font-family: Campton ExtraBold;">Need a loan? We got you!</h3>
                                    <p>Please enter the amount you want to loan and months to pay</p>
                                </div>

                                <div class="input-field col s6 m6 l6">
                                    <i class="material-icons prefix">attach_money</i>
                                    <input id="loanAmount" type="number" class="validate" style="color: black" ng-model="loanAmount" required>
                                    <label for="loanAmount">Loan Amount</label>
                                    <span style="color: grey">Min. 1,000 Max. 25,000</span>
                                </div>
                                <div class="input-field col s6 m6 l6">
                                    <i class="material-icons prefix">date_range</i>
                                    <input id="loanMonths" type="number" class="validate" style="color: black" ng-model="loanMonths" required>
                                    <label for="loanMonths">Months to Pay</label>
                                    <span style="color: grey">Min. 2 Max. 12</span>
                                </div>

                                <div class="col s12 m12 l12" style="margin-top: 30px">
                                    <p class="col s6 m6 l6 center" style="margin-top: 15px">Fixed interest rate of 3%</p>
                                    <a class="waves-effect waves-light btn-large col s6 m6 l6 button" href="/Home/LoginPage">Apply now</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s1 m1 l1"></div>
    </div>
</div>

<div id="instructions" class="section center row">
    <h2 class="primary-color hidden" style="font-family: Campton Black; margin-top: 50px;">Get a loan in 3 easy steps!</h2>
    <div class="col s4 m4 l4 hover-scale hidden">
        <div class="row"><span style="font-size: 3em;">1. Register</span></div>
        <div class="row"><img src="~/Content/Step 1.png" class="step-img" /></div>
        <div class="row"><p>Register for an account in under a minute</p></div>
    </div>
    <div class="col s4 m4 l4 hover-scale hidden">
        <div class="row"><span style="font-size: 3em;">2. Apply</span></div>
        <div class="row"><img src="~/Content/Step 2.png" class="step-img" /></div>
        <div class="row"><p>Make sure to have the proper documents ready and wait for approval</p></div>
    </div>
    <div class="col s4 m4 l4 hover-scale hidden">
        <div class="row"><span style="font-size: 3em;">3. Enjoy</span></div>
        <div class="row"><img src="~/Content/Step 3.png" class="step-img" /></div>
        <div class="row"><p>Have fun with our money!</p></div>
    </div>
</div>

<div id="requirements" class="section row">
    <h2 class="primary-color center" style="font-family: Campton Black; margin-top: 50px;">What documents do you need?</h2>
    <div class="col s6 m6 l6 hover-scale">
        <div class="row">
            <div class="col s2 m2 l2 primary-color center" style="font-family: Campton Black; font-size: 150px;">1</div>
            <div class="col s10 m10 l10">
                <p>Valid Gov't ID</p>
                <p style="font-size: 15px; color: grey; margin-top: -25px;">PHILSYS ID, SSS, GSIS, UMID, Passport, Driver’s License, Postal ID, Voter’s ID, PRC, NBI Clearance</p>
                <div class="col s6 m6 l6">
                    <img src="~/Content/FrontGov.png" class="" />
                </div>
                <div class="col s6 m6 l6">
                    <img src="~/Content/BackGov.png" class="" />
                </div>
            </div>
        </div>
    </div>
    <div class="col s6 m6 l6 hover-scale">
        <div class="row">
            <div class="col s2 m2 l2 primary-color center" style="font-family: Campton Black; font-size: 150px; margin-top;">2</div>
            <div class="col s10 m10 l10">
                <p>Company ID / Certificate of Employment</p>
                <p style="font-size: 15px; color: grey; margin-top: -25px;">Within 3 months</p>
                <div class="col s6 m6 l6">
                    <img src="~/Content/FrontCompany.jpg" class="" style="height: auto; width: 100%;"/>
                </div>
                <div class="col s6 m6 l6">
                    <img src="~/Content/BackCompany.jpg" class="" style="height: auto; width: 100%;"/>
                </div>
            </div>
        </div>
    </div>
    <div class="col s6 m6 l6 hover-scale">
        <div class="row">
            <div class="col s2 m2 l2 primary-color center" style="font-family: Campton Black; font-size: 150px; margin-top;">3</div>
            <div class="col s10 m10 l10">
                <p>Original Payslips</p>
                <p style="font-size: 15px; color: grey; margin-top: -25px;">Within 2 months</p>
                <p style="font-size: 15px; color: grey; margin-top: -15px;">Must reflect the 1st & 16th of the cut-offs of 1 month or BIR 2316 (ITR)</p>
                <div class="col s12 m12 l12">
                    <img src="~/Content/Payslip.png" class="" />
                </div>
            </div>
        </div>
    </div>
    <div class="col s6 m6 l6 hover-scale">
        <div class="row">
            <div class="col s2 m2 l2 primary-color center" style="font-family: Campton Black; font-size: 150px; margin-top;">4</div>
            <div class="col s10 m10 l10">
                <p>TIN/SSS PROOF</p>
                <p style="font-size: 15px; color: grey;">TIN Card, SSS Card, Recent BIR 2316, Company ID, Payslip</p>
                <p style="font-size: 15px; color: grey;">No need for proof of TIN/SSS if you already have it in the other requirements such as Gov't ID or Proof of Employment</p>
            </div>
        </div>
    </div>
</div>

<div id="testimonials" class="section row">
    <h2 class="primary-color center" style="font-family: Campton Black; margin-top: 50px;">The people we've helped</h2>
    <div class="carousel col s12 m12 l12">
        <div class="col s7 m7 l7 carousel-item">
            <div class="card-panel white z-depth-5" style="border-radius: 30px;">
                <div class="row valign-wrapper">
                    <div class="col s3 m3 l3">
                        <img src="~/Content/TestimonialPic.jpg" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s9 m9 l9">
                        <p>
                            "Flash Cash is a lifesaver! I needed help covering some bills before my next paycheck, and their approval process was as quick as advertised.
                            The customer service team was friendly and professional, making the whole experience even better. Thank you, Flash Cash!"
                        </p>
                        <p style="margin-top: 20px; color: grey;">Jessica L.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s7 m7 l7 carousel-item">
            <div class="card-panel white z-depth-5" style="border-radius: 30px;">
                <div class="row valign-wrapper">
                    <div class="col s3 m3 l3">
                        <img src="~/Content/DisplayPic.png" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s9 m9 l9">
                        <p>
                            "I’ve tried other loan services before, but nothing compares to Flash Cash. The 'No Hassle' part of their slogan
                            is 100% true—no long forms, no waiting for days. It was fast, easy, and stress-free. Highly recommend it to anyone who needs fast financial help!"
                        </p>
                        <p style="margin-top: 20px; color: grey;">Mike R.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s7 m7 l7 carousel-item">
            <div class="card-panel white z-depth-5" style="border-radius: 30px;">
                <div class="row valign-wrapper">
                    <div class="col s3 m3 l3">
                        <img src="~/Content/TestimonialPic2.jpg" alt="" class="circle responsive-img">
                    </div>
                    <div class="col s9 m9 l9">
                        <p>
                            "I was in a bind and needed money fast to cover an unexpected car repair. Flash Cash came through for me in no time!
                            The application process was super simple, and I had the funds in my account within minutes. I’ll definitely use them again if I ever need quick cash."
                        </p>
                        <p style="margin-top: 20px; color: grey;">Sarah T.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="about" class="section row">
    <h2 class="primary-color center" style="font-family: Campton Black; margin-top: 50px;">Who are we?</h2>
    <div class="col s6 m6 l6">
        <img src="~/Content/Team.png" alt="Team Image" class="responsive-img cropped-image" />
    </div>
    <div class="col s6 m6 l6">
        <p>
            Welcome to Flash Cash, where we believe financial solutions should be quick, simple, and stress-free. Our mission is to help you navigate
            life's unexpected expenses with ease. With our slogan, Fast Cash, No Hassle – Get Approved in Minutes, we’re dedicated to providing a streamlined
            loan application process that gets you the funds you need when you need them most. Whether it's an emergency, an important purchase, or just
            bridging a financial gap, Flash Cash is here to offer you fast, reliable support—without the red tape. Experience financial freedom on your terms, today!
        </p>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.carousel');
        var instances = M.Carousel.init(elems, {});
    });
</script>
