@{
    Layout = "~/Views/Shared/_LoaningLayout.cshtml";
}


<style>
    .row.center {
        margin-top: 180px;
    }
    .slider-value, .app-label {
        font-size: 1.5rem;
        text-align: center;
        font-weight: bold;
    }

    .label {
        font-weight: bold;
        color: grey;
    }

    input[type=range]::-webkit-slider-thumb {
        background-color: #0468bb;
    }

    .back-link {
        display: inline-flex;
        align-items: center;
        font-weight: bold;
        font-size: 20px;
        text-decoration: none;
    }

    .back-link i.material-icons {
        margin-right: 5px;
    }

    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
    }

    input[type="range"]::-moz-range-thumb {
        -moz-appearance: none;
        appearance: none;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
    }

    input[type="range"]::-webkit-slider-thumb:focus {
        outline: none;
    }

</style>
<div class="row center" ng-init="getInformation()">
    <div class="col s3 m3 l3"></div>
    <div class="col s6 m6 l6">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card z-depth-5">
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12 m12 l12">
                                <div class="row">
                                    <div class="col s12 m12 l12 left-align">
                                        <a href="/Home/UserLandingPage" class="back-link">
                                            <i class="material-icons">arrow_back</i> Back
                                        </a>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <h1 style="font-family: Campton Black" class="primary-color">LOAN APPLICATION</h1>
                                    </div>

                                    <div class="input-field col s6 m6 l6">
                                        <i class="material-icons prefix">attach_money</i>
                                        <input id="loanAmount" type="number" class="validate" style="color: black" ng-model="loanAmount" required>
                                        <label for="loanAmount">Loan Amount</label>
                                        <span style="color: grey">Min. 1,000 Max. 25,000</span>
                                    </div>
                                    <div class="input-field col s6 m6 l6">
                                        <i class="material-icons prefix">date_range</i>
                                        <input id="loanMonths" type="number" class="validate" style="color: black" ng-model="loanMonths" required>
                                        <label for="loanMonths">Months to Pay</label>
                                        <span style="color: grey">Min. 2 Max. 12</span>
                                    </div>

                                    <div class="col s12 m12 l12" style="margin-top: 50px;">
                                        <div class="file-field input-field">
                                            <div class="btn bg-primary-color">
                                                <span>File</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input id="govID" class="file-path validate" type="text" placeholder="Upload your valid government ID here" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <div class="file-field input-field">
                                            <div class="btn bg-primary-color">
                                                <span>File</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input id="compID" class="file-path validate" type="text" placeholder="Upload your company ID here" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <div class="file-field input-field">
                                            <div class="btn bg-primary-color">
                                                <span>File</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input id="paySlip" class="file-path validate" type="text" placeholder="Upload your payslip here" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <div class="file-field input-field">
                                            <div class="btn bg-primary-color">
                                                <span>File</span>
                                                <input type="file">
                                            </div>
                                            <div class="file-path-wrapper">
                                                <input id="govID" class="file-path validate" type="text" placeholder="Upload your valid government ID here" required>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <a class="waves-effect waves-light btn-large col s12 m12 l12 button" ng-click="applicationFunc()">NEXT</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s3 m3 l3"></div>
    </div>
</div>