@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<div class="row">
    <div class="col s12 m12 l12" style="margin-top: 100px">
        <div class="table-container" ng-init="getLoans()">

            <div class="left-align">
                <a class="button waves-effect waves-light btn"><i class="material-icons left">add</i>ADD</a>
            </div>

            <table id="loansTable" class="display">
                <thead>
                    <tr>
                        <th>Loan ID</th>
                        <th>Applicant Email</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Term</th>
                        <th>Start Date</th>
                        <th>Next Due Date</th>
                        <th>Amount Paid</th>
                        <th>Documents</th>
                        <th>Last Updated</th>
                        <th>Created</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="list in loans">
                        <input type="hidden" name="statusID" value="{{list.StatusID}}" />
                        <td>{{list.LoanID}}</td>
                        <td>{{list.Email}}</td>
                        <td>{{list.Status}}</td>
                        <td>{{list.LoanAmount}}</td>
                        <td>{{list.LoanTerm}}</td>
                        <td>{{list.StartDate}}</td>
                        <td>{{list.DueDate}}</td>
                        <td>{{list.AmountPaid}}</td>
                        <td>
                            <div class="row" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
                                <div class="col" style="text-align: center;">
                                    <img class="materialboxed" width="50" src="{{list.GovID}}">
                                </div>
                                <div class="col" style="text-align: center;">
                                    <img class="materialboxed" width="50" src="{{list.CompID}}">
                                </div>
                            </div>
                            <div class="row" style="display: flex; justify-content: center; align-items: center; gap: 10px;">
                                <div class="col" style="text-align: center;">
                                    <img class="materialboxed" width="50" src="{{list.PaySlip}}">
                                </div>
                                <div class="col" style="text-align: center;">
                                    <img class="materialboxed" width="50" src="{{list.TinSSS}}">
                                </div>
                            </div>
                        </td>
                        <td>{{list.UpdateAt}}</td>
                        <td>{{list.CreateAt}}</td>
                        <td>
                            <a class="btn-flat primary-color" style="display: flex; align-items: center; text-decoration: none;" ng-click="updateLoan(list)">
                                <i class="material-icons" style="margin-right: 5px;">create</i>
                                <span>Approve</span>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var modals = document.querySelectorAll('.modal');
        M.Modal.init(modals);
</script>