@{
    Layout = "~/Views/Shared/_LoaningLayout.cshtml";
}
<style>
    .row.center {
        margin-top: 180px;
    }
</style>
<div class="row center">
    <div class="col s4 m4 l4"></div>
    <div class="col s4 m4 l4">
        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card bg-secondary-color z-depth-5">
                    <div class="card-content">
                        <div class="row">
                            <form class="col s12 m12 l12">
                                <div class="row">
                                    <div class="col s12 m12 l12">
                                        <h1 style="font-family: Campton Black" class="primary-color">LOG IN</h1>
                                    </div>
                                    <div class="input-field col s12 m12 l12">
                                        <i class="material-icons prefix">account_circle</i>
                                        <input id="username" type="text" class="validate" style="color: black" ng-model="loginEmail" required>
                                        <label for="username">Email</label>
                                    </div>
                                    <div class="input-field col s12 m12 l12">
                                        <i class="material-icons prefix">lock</i>
                                        <input id="pass" type="password" class="validate" style="color : black" ng-model="loginPass" required>
                                        <label for="pass">Password</label>
                                    </div>

                                    <div class="col s12 m12 l12">
                                        <a class="waves-effect waves-light btn-large col s12 m12 l12 button" ng-click="loginFunc()">submit</a>
                                    </div>
                                    <div class="col s12 m12 l12">
                                        <p class="black-text">
                                            Don't have an account?
                                            <a href="/Home/RegistrationPage">Register</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s4 m4 l4"></div>
    </div>
</div>