<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.datatables.net/2.1.8/css/dataTables.dataTables.css" />
    <style>
        .nav-wrapper {
            box-shadow: none;
        }

        .logo {
            max-width: 100% !important;
            height: 2.3em !important;
        }

        body {
            font-family: Campton;
        }

        .bg-primary-color {
            background-color: #0468bb;
        }

        .bg-secondary-color {
            background-color: #F0F8FF;
        }

        .primary-color {
            color: #0468bb !important;
        }

        .btn-large {
            border-radius: 30px;
        }

        .action-button {
            border: 2px solid #0468bb;
            background-color: transparent;
            color: #0468bb;
            font-family: Campton ExtraBold;
        }

            .action-button:hover {
                background-color: #0468bb;
                color: white;
            }

        .button {
            border-radius: 30px;
            background-color: #0468bb;
            font-family: Campton ExtraBold;
        }

            .button:hover {
                filter: brightness(125%);
                background-color: #0468bb;
            }

        .input-field input[type=text]:focus + label {
            color: #0468bb !important;
        }

        .input-field input[type=text]:focus {
            border-bottom: 1px solid #0468bb !important;
            box-shadow: 0 1px 0 0 #0468bb !important;
        }

        .input-field input[type=text].valid {
            border-bottom: 1px solid #0468bb !important;
            box-shadow: 0 1px 0 0 #0468bb !important;
        }

        .input-field input[type=tel]:focus + label {
            color: #0468bb !important;
        }

        .input-field input[type=tel]:focus {
            border-bottom: 1px solid #0468bb !important;
            box-shadow: 0 1px 0 0 #0468bb !important;
        }

        .input-field input[type=tel].valid {
            border-bottom: 1px solid #0468bb !important;
            box-shadow: 0 1px 0 0 #0468bb !important;
        }

        .input-field input[type=password]:focus + label {
            color: #0468bb !important;
        }

        .input-field input[type=password]:focus {
            border-bottom: 1px solid #0468bb !important;
            box-shadow: 0 1px 0 0 #0468bb !important;
        }

        .input-field input[type=password].valid {
            border-bottom: 1px solid #0468bb !important;
            box-shadow: 0 1px 0 0 #0468bb !important;
        }

        .input-field .prefix.active {
            color: #0468bb !important;
        }

        .input-field .prefix {
            color: grey !important;
        }

        .hover-scale:hover {
            scale: 1.05;
            -webkit-transition: all .5s;
            -moz-transition: all .5s;
            transition: all .5s;
        }

        .sidenav {
            display: flex;
            flex-direction: column;
            height: 100vh;
        }

            .sidenav .bottom-section {
                margin-top: auto;
                margin-bottom: -55px;
            }

        body {
            padding-left: 300px;
        }
    </style>
</head>
<body ng-app="LoaningApplication" ng-controller="LoaningApplicationController">

    <div id="logOut" class="modal">
        <div class="modal-content">
            <h4>Log Out</h4>
            <p>Are you sure you want to log out?</p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">NO</a>
            <a href="/Home/LandingPage" class="waves-effect waves-green btn-flat" ng-click="logoutSession()">YES</a>
        </div>
    </div>

    <ul id="slide-out" class="sidenav sidenav-fixed">
        <li>
            <div class="user-view">
                <a><img class="circle" src="~/Content/account.png"></a>
                <a><span class="black-text name">John Doe</span></a>
            </div>
        </li>
        <div class="divider"></div>
        <li><a href="/Home/Dashboard"><i class="material-icons waves-effect primary-color">home</i>Home</a></li>
        <div class="divider"></div>
        <li><a class="subheader">ACCOUNT</a></li>
        <li><a href="/Home/Accounts"><i class="material-icons waves-effect primary-color">supervisor_account</i>Accounts</a></li>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">equalizer</i>Status</a></li>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">person</i>Roles</a></li>
        <div class="divider"></div>
        <li><a class="subheader">LOAN</a></li>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">attach_money</i>Loans</a></li>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">monetization_on</i>Payments</a></li>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">contact_mail</i>Applications</a></li>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">account_balance_wallet</i>Disbursements</a></li>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">equalizer</i>Status</a></li>
        <div class="divider"></div>
        <li><a href="#!"><i class="material-icons waves-effect primary-color">view_list</i>Logs</a></li>
        <li class="bottom-section">
            <div class="divider"></div>
            <a href="#logOut" class="modal-trigger"><i class="material-icons waves-effect primary-color">exit_to_app</i>Log Out</a>
        </li>
    </ul>

    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/materialize.min.js"></script>
    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>
    <script src="https://cdn.datatables.net/2.1.8/js/dataTables.js"></script>
</body>
</html>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M.Sidenav.init(elems, {
        });
    });

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.modal');
        var instances = M.Modal.init(elems, {});
    });

    var currDate = new Date();
    var legalDate = new Date();
    legalDate.setFullYear(currDate.getFullYear() - 18)

    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.datepicker');
        var instances = M.Datepicker.init(elems, {
            defaultDate: legalDate,
            maxDate: new Date(legalDate),
            yearRange: [1950, currDate.getFullYear()]
        });
    });

    document.querySelectorAll('a.toggle-vis').forEach((el) => {
        el.addEventListener('click', function (e) {
            e.preventDefault();

            let columnIdx = e.target.getAttribute('data-column');
            let column = table.column(columnIdx);

            // Toggle the visibility
            column.visible(!column.visible());
        });
    });
</script>
