<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <style>
        .nav-wrapper {
            box-shadow: none;
        }
    </style>
</head>
<body ng-app="LoaningApplication" ng-controller="LoaningApplicationController" bgcolor="#003049">

    <nav class="transparent z-depth-0">
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">Logo</a>
            <ul class="left hide-on-med-and-down">
                <li><a href="#">About us</a></li>
                <li><a href="#">Components</a></li>
                <li><a href="#">JavaScript</a></li>
            </ul>
            <ul class="right hide-on-med-and-down">
                <li><a href="#">Log in</a></li>
                <li><a class="waves-effect waves-light btn-large">Get a Loan</a></li>
            </ul>
        </div>
    </nav>

    <div>
        @RenderBody()
    </div>

    <script src="~/Scripts/jquery-3.7.0.min.js"></script>
    <script src="~/Scripts/angular.js"></script>
    <script src="~/Scripts/AngularScripts/Module.js"></script>
    <script src="~/Scripts/AngularScripts/Service.js"></script>
    <script src="~/Scripts/AngularScripts/Controller.js"></script>
</body>
</html>
